:root {
    /* --- Colors --- */

    /* Neutral */
    --N900: hsl(227, 75%, 14%);
    --N800: hsl(226, 25%, 17%);
    --N700: hsla(225, 23%, 24%);
    --N600: hsl(226, 11%, 37%);
    --N300: hsl(0, 0%, 78%);
    --N200: hsl(217, 61%, 90%);
    --N100: hsl(0, 0%, 93%);
    --Neutral: hsl(200, 60%, 99%);

    /* Red */
    --R400: hsl(3, 86%, 64%);
    --R500: hsl(3, 71%, 56%);
    --R700: hsl(3, 77%, 44%);

    /* Gradient */
    --Light-Gradient: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
    --Dark-Gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
}

::after,
::before,
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
}

body {
    width: 100vw;
    height: 100%;
    background: var(--Light-Gradient);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* header Style */
header {
    display: flex;
    justify-content: space-between;
    background-color: var(--Neutral);
    width: 90%;
    margin: 30px auto;
    padding: 10px;
    border-radius: 10px;
}

header img:nth-of-type(1) {
    width: 160px;
}

header img:nth-of-type(2) {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--N100);
}

/* main Title style */
main .selectFilter h1 {
    margin-top: 5px;
    margin-bottom: 15px;
    color: var(--N900);
    text-align: center;
}

.selectFilter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selectFilter .filters {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 20px;
}

button {
    padding: 10px 18px;
    border: none;
    border-radius: 20px;
    border: 1px solid var(--N200);
    background-color: var(--Neutral);
    color: var(--N900);
    font-weight: 400;
}

.selectFilter .filters .selected {
    border: none;
    font-weight: 500;
    background-color: var(--R700);
    color: var(--Neutral);
}

/* Cards style */
.cards {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(1 "fr");
}

.card {
    background-color: var(--Neutral);
    padding: 15px;
    margin: 5px 20px;
    border-radius: 15px;
    border: 1px solid var(--N100);
    box-shadow: 0px 0px 1px var(--N300);
}

.header_icon {
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    gap: 15px;
}

.header_details h3 {
    color: var(--N900);
    font-size: 1.25rem;
    margin-top: 3px;
    margin-bottom: 10px;
}

.header_details p {
    color: var(--N600);
    font-size: 15px;
    margin-bottom: 15px;
    font-weight: 400;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons button {
    background-color: var(--Neutral);
}

/* toggle switch style */
.buttons label {
    display: flex;
    align-items: center;
}

.switch {
    appearance: none;
}

.toggle {
    background-color: var(--N300);
    width: 40px;
    height: 20px;
    border-radius: 10px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
}

.toggle::before {
    content: "";
    background-color: var(--Neutral);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 2px;
    transition: 0.3s;
}

/* next element of checked input */
.switch:checked+.toggle {
    background-color: var(--R700);
}

.switch:checked+.toggle::before {
    left: 20px;
}

.card:nth-last-of-type(1) {
    margin-bottom: 50px;
}

.active {
    display: block;
}